@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(26, 14, 14);
}
h1{
  font-size: 48px;
  color: aqua;
}
h2{
  font-size: 24px;
}
h5{
  font-size: 18px;
  color: green;
}
h6{
  font-size: 16px;
  color: brown;
}
.main{
  flex: auto;
}